<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/contact_banner.css">
</head>
<body>
<div class="form_bar">
    <div class="container">
        <div class="col-sm-6">
            <div class="row form_bar_row">
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="name" placeholder="NAME">
                </div>
                <div class="col-sm-4">
                    <input type="email" class="form-control" id="email" placeholder="EMAIL">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="number" placeholder="MOBILE">
                </div>
            </div>
            <div class="row form_bar_row">
                <textarea class="form-control" rows="5" id="comment" placeholder="QUERY"></textarea>
            </div>
            <button type="button" class="btn btn-info">Send Message</button>
        </div>
        <div class="col-sm-1 vl"></div>
        <div class="col-sm-5 side_address">
            <div class="row">
                <span class="address">ADDRESS</span><br>
                <span class="mayo"> Mayo Clinic </span>
                <p>132, 1st Main Rd, CKB Layout, Kasavanahalli Village, Marathahalli, Bengaluru, Karnataka 560037.</p>
            </div>
            <div class="row">
                <span class="address">EMAIL</span><br>
                <span class="mayo"> mayoclinic@gmail.com </span>
            </div>
            <div class="row">
                <span class="address">TELEPHONES</span><br>
                <span class="mayo"> Number </span>: +917702104064<br>
                <span class="mayo"> Fax </span>: +917411302862
            </div>
        </div>
    </div>
</div>
</body>
</html>