<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestData</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>\
<style>
.hco{
text-align:center;
margin-top:150px;
color:black;

}
.hco_font{
font-size:80px;
font-family: "Times New Roman", Times, serif;
font-style: italic;
}
.button_contact_services{
border-radius: 25px;
width:150px;
}
.navbar-brand{
font-size:30px;
}
</style>
</head>
<body>
<div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="">MayoClinic</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="active" href="http://127.0.0.1:8000/healthapp/home">HOME</a></li>
              <li><a href="http://127.0.0.1:8000/healthapp/services">SERVICES</a></li>
              <li><a href="">ABOUT US</a></li>
              <li><a href="http://127.0.0.1:8000/healthapp/registration">PATIENT REGISTRATION</a></li>
              <li><a href="http://127.0.0.1:8000/healthapp/doctors">DOCTORS</a></li>
              <li><a href="http://127.0.0.1:8000/healthapp/contact">CONTACT US</a></li>
            </ul>
        </div>
      </div>
      </div>
    </nav>
</div>
</body>
</html>